<!doctype html>
<html lang="en">
  <head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body id="role_body">



      <div class="grid-container" id="role_grid">
       
        <div class="grid-item" id="left_role">
          <h2>What is my role currently in University?</h2>
          <p>Ethical concerns regarding AI span further than just technological considerations. AI’s large fossil fuel use 
            nd potential harm to the job market are just a few of the many concerns regarding AI. Note that these concerns are not just regarding 
            computer scientists, but everyone including you as a college student looking for jobs. AI’s growing popularity has called for institution and industry collaboration. 
            Specifically, companies implementing AI technology have begun creating relationships with institutions to drive research for AI ethics. What does this mean for you?</p>
            <p>You can expect that your institution will involve itself in industry collaborations. Volkswagen, for example, 
                collaborated with Stanford to research AI ethics with its use in their cars. If you care about the environment,
                 your ability to land a job, and other ethical concerns with AI, then involve yourself in these collaborations. As a 
                 student, you have the opportunity to put time into research that not only will help you better understand the work industry and stride towards good ethics
            </p>
            <a href = "../index.html"  id = role_back>
              <p> <-Back </p>
            </a>
        </div>
    
      
        <div class="grid-item" id="right_role">
          <h2>Your Role</h2>
        
        </div>
     
      </div>


     


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  
        <!-- <footer id="footer" >
            <a>chrisddelisle@gmail.com</a>
            <a>-</a>
            <a>(603) 714 2463</a>
            <a>-</a>
            <a href="/Users/chrisdelisle/PortfolioFinal/LabWebsite/resources/img/Delisle_Chris_Resume.pdf " target= "_blank">Resume</a>
            <a>-</a>
            <a href="https://www.linkedin.com/in/chrisdavisdelisle/" target="_blank">LinkedIn</a>
            <a>-</a>
            <a href="https://youtube.com/ChrisDelisle" target="_blank">YouTube</a>
            <a>-</a>
            <a href="https://Instagram.com/chrisdelisle" target="_blank">Instagram</a>
       
        </footer> -->
</body>
</html> 